html {
  font-family: Verdana, sans-serif;
  background-color: #bea586;
  background-image: url("../images/slothbg.svg");
  background-size: 48px;
}

main {
  background-color: #fff;
}

h1 {
  color: #fff;
  font-family: Georgia, serif;
}

figcaption {
  font-family: Georgia, serif;
}
